# Python
__pycache__/
app_files/__pycache__/*
*.pyc
*.pyo
*.spec

# Build files
*.egg-info/
*.egg
build/*
dist/*

# App Data
downloads/
logs/
.settings.json

# OS files
.DS_Store
Thumbs.db

# Misc
1.txt